.BookingHeader{
    height: 10rem;
    background-color:#3c3c3c;
}
.BookingHeader .BookingHeaderInner{
    border: 2px rgb(129, 126, 126) solid;
    min-width: 80vh;
}
.BookingHeader.flex{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:2em;
}
.BookingHeader .BookButton button{
    padding:0.7em;
    border: none;
    background-color: rgb(22, 21, 21);
    min-width: 10rem;
    font-weight: bold;
    color:#fff;
}
